<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
    <test name="testSum">
        <classes>
            <class name="SumCalculatorTest"/>
            <class name="SumDoubleCalculatorTest"/> <!-- порядок не соблюдается-->
        </classes>
    </test> <!-- Test -->
    <test name="testSubtraction">
        <classes>
            <class name="SubCalculatorTest"/>
            <class name="SubDoubleCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testMultiplication">
        <classes>
            <class name="MultCalculatorTest"/>
            <class name="MultDoubleCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testDivision">
        <classes>
            <class name="DivCalculatorTest"/>
            <class name="DivDoubleCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testPow">
        <classes>
            <class name="PowCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testSqrt">
        <classes>
            <class name="SqrtCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testTg">
        <classes>
            <class name="TgCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testCtg">
        <classes>
            <class name="CtgCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testCos">
        <classes>
            <class name="CosCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testSin">
        <classes>
            <class name="SinCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testIsPositive">
        <classes>
            <class name="IsPositiveCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="testIsNegative">
        <classes>
            <class name="IsNegativeCalculatorTest"/>
        </classes>
    </test> <!-- Test -->
</suite>
