<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
    <test name="testSum">
        <classes>
            <class name="kz.epam.unittesting.tests.SumCalculatorTest"/>
            <class name="kz.epam.unittesting.tests.SumDoubleCalculatorTest"/>
        </classes>
    </test>
    <test name="testSubtraction">
        <classes>
            <class name="kz.epam.unittesting.tests.SubCalculatorTest"/>
            <class name="kz.epam.unittesting.tests.SubDoubleCalculatorTest"/>
        </classes>
    </test>
    <test name="testMultiplication">
        <classes>
            <class name="kz.epam.unittesting.tests.MultCalculatorTest"/>
            <class name="kz.epam.unittesting.tests.MultDoubleCalculatorTest"/>
        </classes>
    </test>
    <test name="testDivision">
        <classes>
            <class name="kz.epam.unittesting.tests.DivCalculatorTest"/>
            <class name="kz.epam.unittesting.tests.DivDoubleCalculatorTest"/>
        </classes>
    </test>
    <test name="testPow">
        <classes>
            <class name="kz.epam.unittesting.tests.PowCalculatorTest"/>
        </classes>
    </test>
    <test name="testSqrt">
        <classes>
            <class name="kz.epam.unittesting.tests.SqrtCalculatorTest"/>
        </classes>
    </test>
    <test name="testTg">
        <classes>
            <class name="kz.epam.unittesting.tests.TgCalculatorTest"/>
        </classes>
    </test>
    <test name="testCtg">
        <classes>
            <class name="kz.epam.unittesting.tests.CtgCalculatorTest"/>
        </classes>
    </test>
    <test name="testCos">
        <classes>
            <class name="kz.epam.unittesting.tests.CosCalculatorTest"/>
        </classes>
    </test>
    <test name="testSin">
        <classes>
            <class name="kz.epam.unittesting.tests.SinCalculatorTest"/>
        </classes>
    </test>
    <test name="testIsPositive">
        <classes>
            <class name="kz.epam.unittesting.tests.IsPositiveCalculatorTest"/>
        </classes>
    </test>
    <test name="testIsNegative">
        <classes>
            <class name="kz.epam.unittesting.tests.IsNegativeCalculatorTest"/>
        </classes>
    </test>
</suite>
